/*
0 - 600px:      Phone
600 - 900px:    Table portrait
900 - 1200px:   Table landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
2x-screen:      MacOS, Retina display
touch-device:   Touchable devices, consist of desktop (touch)
*/
/*
$breakpoint:
- phone
- tab-port
- tab-land
- big-desktop
- 2x-screen
- touch-device

1em = 16px
*/
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  color: #fff;
  background-color: #eb2f64; }

::-webkit-scrollbar {
  width: 1rem; }

::-webkit-scrollbar-track {
  background-color: #faf9f9;
  border-radius: 3px; }

::-webkit-scrollbar-thumb {
  background-color: #BA265D;
  border-radius: 3px; }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #eb2f64; }

body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333; }

a {
  font-size: 1.6rem;
  color: #333;
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.paragraph {
  margin-bottom: 3rem;
  font-size: 1.6rem; }

.d-none {
  display: none; }

.text-uppercase {
  text-transform: uppercase; }

.abs-full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.text-center {
  text-align: center; }

.mt-md {
  margin-top: 3rem; }

.mt-lg {
  margin-top: 5rem; }

.mt-xl {
  margin-top: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .mt-xl {
      margin-top: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .mt-xl {
      margin-top: 2rem; } }

.mb-0 {
  margin-bottom: 0; }

.mb-sm {
  margin-bottom: 1.5rem; }

.mb-md {
  margin-bottom: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .mb-md {
      margin-bottom: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .mb-md {
      margin-bottom: 1.5rem; } }

.mb-lg {
  margin-bottom: 5rem; }
  @media only screen and (max-width: 56.25em) {
    .mb-lg {
      margin-bottom: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .mb-lg {
      margin-bottom: 2rem; } }

.mb-xl {
  margin-bottom: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .mb-xl {
      margin-bottom: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .mb-xl {
      margin-bottom: 2rem; } }
