$color-black: #000;

:root {
  // COLORS
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --color-white: #fff;
  --color-black: #000;
  --color-black-hex: 0, 0, 0;

  // FONT
  --font-size-default: 1.6rem;
  --font-size-xxs: 1rem;
  --font-size-xs: 1.2rem;
  --font-size-sm: 1.4rem;
  --font-size-md: 2rem;
  --font-size-lg: 3rem;
  --font-size-xl: 6rem;

  // GRID
  --grid-width: 114rem;
  --grid-width-sm: 60rem;
  --grid-gutter: 2rem;

  // BOX SHADOW
  --shadow-primary: 0 3rem 6rem rgba(var(--color-black-hex), .4);
  --shadow-secondary: 0 1.5rem 4rem rgba(var(--color-black-hex), .2);
  --shadow-tertiary: 0 .5rem 1rem rgba(var(--color-black-hex), .15);

  // BORDER
  --border-default: 3px;
  --border-rounded: 100px;
  --border-circle: 50%;

  // TRANSITION
  --transition-property: all;
  --transition-duration: .3s;
  --transition-duration-slow: .5s;
  --transition-timing: ease;
  --transition-timing-fast: cubic-bezier(1, 0, 0, 1);
  --transition-delay: 0s;

  // Z-INDEX
}

