.hotel-view {
  flex: 1;
  background-color: var(--color-grey-light-3);
}

.detail {
  @extend .flex-space-between;
  padding: 4rem;
  color: var(--color-grey-dark-2);

  @include respond(tab-port) {
    flex-direction: column;
    padding: 3rem;
  }

  @include respond(phone-small) {
    padding: 1.5rem;
  }
}