.side-nav {
  
  @include respond(phone) {
    display: flex;
  }

  &__item {
    position: relative;

    @include respond(phone) {
      flex-grow: 1;
    }

    &:not(:last-child) {
      margin-bottom: .5rem;

      @include respond(phone) {
        margin-bottom: 0;
      }
    }

    &::before { 
      position: absolute;
      content: '';
      top: 0;
      left: 0;

      width: 3px;
      height: 100%;
      background-color: var(--color-primary);
      // transform-origin: bottom;
      transform: scaleY(0);
      transition: transform
                    var(--transition-duration-slow)
                    var(--transition-timing),
                  width 
                    var(--transition-duration-slow) 
                    var(--transition-timing-fast) 
                    var(--transition-duration-slow);
    }

    &:hover::before,
    &--active::before {
      width: 100%;
      transform: scaleY(1);
    }
  }

  &__link {
    @extend .flex-align-items-center;
    @extend .text-uppercase;

    position: relative;
    z-index: 1;
    padding: 1.5rem 3rem;
    font-size: var(--font-size-sm);
    color: var(--color-grey-light-1);

    @include respond(phone) {
      flex-direction: column;
      padding: 1rem 1.5rem;
    }
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;

    @include respond(phone) {
      margin-right: 0;
      margin-bottom: .5rem;
    }
  }
}