.user-reviews {
  &__button {
    font-size: var(--font-size-sm);
    color: var(--color-primary);
    border-bottom: 1px solid currentColor;

    &:hover {
      color: var(--color-grey-dark-1);
    }

    &:focus {
      @include animation-pulsate;
    }
  }

  &__arrow-right {
    @include transition($property: margin);
  }

  &__button:hover &__arrow-right {
    margin-left: .5rem;
  }
}