.user-nav {
  @extend .flex-space-between-center;

  align-self: stretch;

  & > * {
    @extend .flex-align-items-center;
    
    align-self: stretch;
    padding: 0 2rem;

    &:hover {
      cursor: pointer;
      background-color: var(--color-grey-light-3);
    }
  }

  &__icon-box {
    position: relative;

    &:hover {
      cursor: pointer;
      background-color: var(--color-grey-light-3);
    }
  }

  &__icon {
    width: 2.25rem;
    height: 2.25rem;
    fill: var(--color-grey-dark-3);
  }

  &__notification {
    @extend .flex-center;

    position: absolute;
    top: 1rem;
    right: 1.1rem;
    width: 2rem;
    height: 2rem;

    font-size: var(--font-size-xxs);
    line-height: 1;
    color: var(--color-white);
    background-color: var(--color-primary);
    border-radius: var(--border-circle);
  }

  &__user-photo {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
    margin-right: 1rem;
    border-radius: var(--border-circle);
  }

  &__user-name {
    color: var(--color-grey-dark-2);
  }
}