.container {
  @extend .flex-column;

  max-width: 120rem;
  min-height: 50rem;
  margin: 5rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-primary);
}

.content {
  display: flex;
  flex-grow: 1;
}
