.container {
  max-width: 120rem;
  min-height: 50rem;
  margin: 5rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-primary);
}

.content {
  display: flex;
}

.header {
  height: 7rem;
  background-color: var(--color-grey-light-2);
}

.sidebar {
  flex: 0 0 15rem;
  background-color: var(--color-grey-dark-1);
}

.hotel-view {
  flex: 1;
  background-color: var(--color-white);
}